<!doctype html>
<html lang="en">
<head>

  <!-- Зависимость Bootstrap-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device=width, initial-scale=1, shrink-to-fit=no">
  <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">
  <script th:src="@{/js/bootstrap.bundle.js}"></script>

  <title>Ошибка</title>
</head>

<body>
  <div class="container-fluid p-0">
    <header th:insert="~{blocks/header :: header_main}"></header>
    <div class="container">
      <h3 class="mt-3">Произошла ошибка</h3>
      <p class="text-danger" th:text="${message}"></p>
    </div>
    <footer th:insert="~{blocks/footer :: footer}"></footer>
  </div>
</body>
</html>