<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">org.h2.Driver</property>
    <property name="hibernate.connection.url">jdbc:h2:./testdb;MODE=PostgreSQL;CASE_INSENSITIVE_IDENTIFIERS=TRUE;NON_KEYWORDS=year;</property>
    <property name="hibernate.connection.username"></property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.pool_size">1</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

    <mapping class="ru.job4j.cars.model.User" />
    <mapping class="ru.job4j.cars.model.Post" />
    <mapping class="ru.job4j.cars.model.Car" />
    <mapping class="ru.job4j.cars.model.Brand" />
    <mapping class="ru.job4j.cars.model.CarModel" />
    <mapping class="ru.job4j.cars.model.Body" />
    <mapping class="ru.job4j.cars.model.Engine" />
    <mapping class="ru.job4j.cars.model.FuelType" />
    <mapping class="ru.job4j.cars.model.EngineSize" />
    <mapping class="ru.job4j.cars.model.Transmission" />
    <mapping class="ru.job4j.cars.model.Color" />
    <mapping class="ru.job4j.cars.model.Category" />
    <mapping class="ru.job4j.cars.model.Image" />
    <mapping class="ru.job4j.cars.model.PriceHistory" />
  </session-factory>
</hibernate-configuration>
